<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
        <link href="static/css/topbar.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/admin">Home</a>
      <a href="https://cs2102project.herokuapp.com/admin/summary">Summary</a>
      <a href="https://cs2102project.herokuapp.com/logout">Logout</a>
    </div>
    <div>
        <h1>
            Hello, {{ username }} ! See the summary data here: <a href="admin/summary/" class="btn btn-outline-secondary btn-sm">Summary</a>
        </h1>

        {{ results }}
    </div>

</body>
</html>