<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>

	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/css/topbar.css">
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout">Logout</a>
    </div>

    <div>
        <p>Add a pet <a href="https://cs2102project.herokuapp.com/owner/pet/new">here</a></p>
        <p>Here are the list of your pets:</p>
        {{ table }}
    </div>

</body>
</html>