<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>

    <link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
    
    <style>
        #logout{
            float: right;
        }
    </style>
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>

    <div>
        <p>Here are the list of caretakers:</p>
        {{ caretable}}
    </div>
    <div>
        <hi>Here is your profile!</hi>
        {{ table }}
    </div>

</body>
</html>