<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>

    <link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
    
    <style>
        #logout{
            float: right;
        }
    </style>
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>

    <div>
        <p>Here are the list of caretakers:</p>
        <table>

            <th>Username</th>
            <th>Contact</th>
            <th>postalcode</th>
            {% for item in caretakers %}
            <tr>
                <td>{{item.username}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.postalcode}}</td>
                <td>
                    <form action="{{url_for('view.render_owner_bid_new')}}" method="GET">
                        <input id="username"+item.ccontact name="username" type="hidden" value="{{item.username}}">
                        <input id="ccontact"+item.ccontact name="ccontact" type="hidden" value="{{item.contact}}">
                        <input id="postalcode"+item.ccontact name="postalcode" type="hidden" value="{{item.postalcode}}">
                        <button id="edit"+item.ccontact type="submit" name="edit"> Bid </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <hi>This is me</hi>
        <table>
            <th>Username</th>
            <th>Contact</th>
            <th>Usertype</th>
            <th>Card</th>
            <th>postalcode</th>
            <tr>
                <td>{{profile.username}}</td>
                <td>{{profile.contact}}</td>
                <td>{{profile.usertype}}</td>
                <td>{{profile.card}}</td>
                <td>{{profile.postalcode}}</td>
            </tr>
        </table>
    </div>

</body>
</html>