<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>

    <link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
    
    <style>
        #logout{
            float: right;
        }
    </style>
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>

    <div>
        <p>Add a pet</p><a href="https://cs2102project.herokuapp.com/owner/pet/new">here</a>
        <p>Here are the list of caretakers:</p>
        <table>

            <th>Pet Name</th>
            <th>Pet Owner Contact</th>
            <th>Category</th>
            <th>Age</th>
            {% for item in pets %}
            <tr>
                <td>{{item.petname}}</td>
                <td>{{item.pcontact}}</td>
                <td>{{item.category}}</td>
                <td>{{item.age}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>