<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<body>
    <h1>
        Hi this is {{ username }} <a href="/update/{{Admins.contact}}" class="btn btn-outline-secondary btn-sm">Update</a>
    </h1>

    <table>
        <th>Username</th>
        <th>Contact</th>
        <th>Usertype</th>
        <th>Card</th>
        {% for item in results %}
            <tr>
                <td>{{item.username}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.usertype}}</td>
                <td>{{item.card}}</td>
            </tr>
        {% endfor %}
        </table>

</body>

</html>