<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
            <form class="registrationForm">
                {{ form.hidden_tag() }}

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.username }} {% if form.username.errors %}
                    <div class="errorMessage">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.usertype }} {% if form.usertype.errors %}
                    <div class="errorMessage">
                        {% for error in form.usertype.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.contact }} {% if form.contact.errors %}
                    <div class="errorMessage">
                        {% for error in form.contact.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.password }} {% if form.password.errors %}
                    <div class="errorMessage">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.confirm_password }} {% if form.confirm_password.errors %}
                    <div class="errorMessage">
                        {% for error in form.confirm_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="formField" class="wrap-input100 validate-input">
                    {{ form.credit_card }}
                    <!-- {% if form.credit_card.errors %}
                        <div class="errorMessage">
                        {% for error in form.credit_card.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </div>
                    {% endif %} -->
                </div>

                <div class="formField">
                    <p>Are you a part-time caretaker? </p>
                    {{ form.is_part_time }}
                    <!-- {% if form.is_part_time.errors %}
                        <div class="errorMessage">
                        {% for error in form.is_part_time.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </div>
                    {% endif %} -->
                </div>

                <button id="registerButton" class="login100-form-btn" formmethod="post">register</button>
            </form>
        </div>
    </div>
</body>

</html>