<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bid</title>

	<link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/login-util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login-main.css">
<!--===============================================================================================-->
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout">Logout</a>
    </div>

    <div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
                <p>Add a new bid </p><a href="https://cs2102project.herokuapp.com/owner/bid/new">here</a>
                <p>Here are the list of all your bids:</p>
                <table>

                    <th>Owner Contact</th>
                    <th>Caretaker Contact</th>
                    <th>Pet Name</th>
                    <th>Start Day</th>
                    <th>End Day</th>
                    <th>Payment Mode</th>
                    <th>Delivery Mode</th>
                    <th>Status</th>
                    {% for item in bidding %}
                    <tr>
                        <td>{{item.pcontact}}</td>
                        <td>{{item.ccontact}}</td>
                        <td>{{item.petname}}</td>
                        <td>{{item.startday}}</td>
                        <td>{{item.endday}}</td>
                        <td>{{item.paymentmode}}</td>
                        <td>{{item.deliverymode}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</body>
</html>